[Unit]
Description=Detect Arp Poisoning Daemon

[Service]
Type=notify
User=root
Group=root
Restart=on-failure
ExecStart=/usr/bin/yahya -detect-arp-poison notimportant

[Install]
WantedBy=multi-user.target
